.section {
  width: 100%;
  min-width: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border);
  overflow: hidden;
}

.titleBlock {
  padding: 0;
  margin-bottom: 1.5rem;

  &.noChildren {
    margin-bottom: 0;
  }

  &.hasPadding {
    padding: 2rem 2rem 0 2rem;

    &.noChildren {
      padding: 2rem;
    }
  }
}

.title {
  color: var(--color-neutral-100);
  font-size: var(--font-h1);
  font-weight: 400;
  margin: 0;
  letter-spacing: 1px;
  word-break: break-word;
  hyphens: auto;
}

.description {
  color: var(--color-neutral-400);
  font-size: var(--font-p);
  font-weight: 400;
  line-height: var(--line-height-p);
  margin-top: 0.5rem;
  max-width: 950px;
  white-space: pre-line;

  strong {
    font-weight: 500;
    color: var(--color-neutral-100);
  }
}

.childrenContainer {
  width: 100%;
  min-width: 0;

  &.hasPadding {
    padding: 0 2rem 2rem 2rem;
  }
}

.listContainer {
  width: 100%;
}

.listTitle {
  color: var(--color-neutral-100);
  font-size: var(--font-h2);
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}

.listItemsWrapper {
  display: flex;
  flex-direction: column;
}

.listItem {
  font-size: var(--font-p);
  color: var(--color-neutral-400);
  font-weight: 400;
  line-height: var(--line-height-p);

  .listValue {
    color: var(--color-neutral-100);
    font-weight: 400;
  }
}