.ScreenSection,
.ScreenSectionList {
  padding: 3rem 0;
  border-bottom: var(--border-width) solid var(--line-break-color);
}

.ScreenSection p {
  color: var(--text-color-3);
}

.ScreenSectionList ul {
  margin: 0;
  padding-left: 20px;
  color: rgb(255, 255, 255);
}

.ScreenSectionList ul li {
  color: var(--text-color-3);
}

.ScreenSectionList ul li .highlight {
  color: var(--text-color-2);
  font-weight: 600;
}
