@use '../../shared/styles/variables' as *;
@use '../../shared/styles/mixins' as *;

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  border-top: 1px solid var(--color-border);

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }
}

.stat {
  display: flex;
  @include stack-xs;
  align-items: center;
  text-align: center;
  padding: var(--spacing-block) 1rem;
  
  border-right: 1px solid var(--color-border);
  
  &:nth-child(3n) {
    border-right: none;
  }
  
  &:nth-child(n+4) {
    border-top: 1px solid var(--color-border);
  }

  @media (max-width: $breakpoint-md) {
    border-right: none;
    border-bottom: none;

    border-top: 1px solid var(--color-border);

    &:first-child {
      border-top: none;
    }

    &.empty {
      display: none;
    }
  }
}

.value {
  @include text-display(var(--color-accent));
}

.label {
  @include text-caption;
  text-transform: uppercase;
}