.SkillsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.link {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.link:hover {
  color: var(--secondary-text-color);
  text-decoration: underline;
}

@media (max-width: 700px) {
  .SkillsSection {
    grid-template-columns: 1fr;
  }
}