.card {
  padding: 1rem;
  border: 1px solid var(--line-break-color);
  border-radius: var(--border-radius);
}

.card .title {
  font-size: 1.6rem;
}

.card > * {
  word-wrap: break-word;
}

.card {
  min-width: 0;
  min-height: 0;
}

.card .ProjectsGridItem:hover .title {
  color: var(--secondary-text-color);
}