.experienceTreeContainer {
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
}

.container {
  box-shadow: var(--box-shadow);
  padding: 1rem;
  /* border: var(--border-width) solid var(--line-break-color); */
  border-radius: var(--border-radius);
  background-color: var(--web-bg-color-2);
}

.role {
  font-size: var(--font-h2);
}

.date {
  margin-bottom: 1rem;
}
