.experienceTreeContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.container {
  padding: 1rem;
  border: var(--border-width) solid var(--line-break-color);
  border-radius: var(--border-radius);
  background-color: var(--website-background-color2);
}

.role {
  font-size: 1.5rem;
}

.date {
  font-size: 1rem;
  margin-bottom: 1rem;
}
