.topFooterContainer {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.bottomFooterContainer {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 0;
  border-top: var(--border-width) solid var(--line-break-color);
}

.bottomFooterContainer h2 {
  color: var(--secondary-description-text-color);
  text-align: left;
}

.routesContainer a,
.routesContainer h2 {
  text-decoration: none;
  color: var(--secondary-description-text-color);
  text-align: center;
}

.routesContainer a:hover,
.routesContainer h2:hover {
  cursor: pointer;
  color: var(--primary-text-color);
}

.routesContainer {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logoContainer {
  align-items: center;
  display: flex;
}

.logoContainer .logoImg {
  filter: grayscale(1);
  width: 2rem;
  aspect-ratio: 1 / 1;
}

.footerScreenContainer {
  background-color: var(--website-background-color2);
  border-top: var(--border-width) solid var(--line-break-color);
}

.topFooterContainer:hover .logoImg {
  cursor: pointer;
  filter: grayscale(0);
}

@media screen and (max-width: 330px) {
  .routesContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}
