.footerScreenContainer {
  background-color: var(--web-bg-color-2);
  border-top: var(--border-width) solid var(--line-break-color);
}

.topFooterContainer {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.routesContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.routesContainer a,
.routesContainer h2,
.routesContainer p {
  text-decoration: none;
  color: var(--text-color-4);
  text-align: center;
}

.routesContainer a:hover,
.routesContainer h2:hover {
  cursor: pointer;
  color: var(--text-color-1);
}

.logoContainer {
  align-items: center;
  display: flex;
}

.logoContainer .logoImg {
  filter: grayscale(1);
  width: 2rem;
  aspect-ratio: 1 / 1;
}

.topFooterContainer:hover .logoImg {
  cursor: pointer;
  filter: grayscale(0);
}

/* @media screen and (max-width: 500px) {
  .topFooterContainer {
    align-items: flex-start;
  }
} */
