.headerScreen {
  top: 0;
  z-index: 50;
  position: sticky;
  display: flex;
  justify-content: center;
  background-color: var(--website-background-color);
}

.header {
  max-width: var(--max-website-width);

  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.header .logoContainer {
  align-items: center;
  display: flex;
}

.header .logoContainer .logo {
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--primary-text-color);
}

.header .logoContainer:hover .logo {
  cursor: pointer;
  color: transparent;
  background-size: 500% auto;
  background: linear-gradient(
    to right,
    var(--secondary-text-color) 30%,
    #01eca7 40%,
    #01eca7 60%,
    var(--secondary-text-color) 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 500% auto;
  animation: textShine 3s ease-in-out infinite reverse;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.header .logoContainer .logoImg {
  padding-right: 0.5rem;
  width: 2.8rem;
  aspect-ratio: 1 / 1;
}

.headerContainer {
  display: flex;
  background-color: var(--website-background-color);
  align-items: center;
  justify-content: space-between;
  min-width: 0px;
  width: calc(100%);
  padding: 1rem 0;
  border-bottom: 1px solid var(--line-break-color);
  overflow: hidden;
  box-sizing: border-box;
}

.headerContainer .secondSection .desktopButtons {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer .headerLink {
  font-weight: 500;
  color: var(--primary-text-color);
  text-decoration: none;
}

.headerContainer .desktopButtons > * {
  font-size: 1rem;
}

.headerContainer .headerLink:hover {
  cursor: pointer;
  color: var(--secondary-text-color);
}

.headerContainer .headerLinkActive {
  font-weight: 500;
  color: var(--secondary-text-color);
  text-decoration: underline;
}

.headerContainer .headerLinkActive:hover {
  cursor: pointer;
  color: var(--secondary-text-color);
}

.headerContainer .secondSection .mobileButtons {
  display: none;
}

.headerContainer .secondSection .mobileButtons button {
  background-color: transparent;
  font-size: 1rem;
}

.headerContainer .mobileButtons .menu {
  z-index: 12;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.headerContainer .mobileButtons .menuContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--website-background-color);
  border: 1px solid var(--line-break-color);
  border-radius: var(--border-radius);
}

.headerContainer .mobileButtons .menuContainer a,
.headerContainer .mobileButtons .menuContainer h2 {
  color: var(--primary-text-color);
  text-decoration: none;
}

.headerContainer .mobileButtons .menu .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}

@keyframes fadeInOut {
  0% {
    background-color: rgba(127, 127, 127, 0);
  }
  50% {
    background-color: rgba(127, 127, 127, 0.25);
  }
  100% {
    background-color: rgba(127, 127, 127, 0);
  }
}

@media screen and (max-width: 400px) {
  .headerContainer .secondSection .desktopButtons {
    display: none;
  }
  .headerContainer .secondSection .mobileButtons {
    display: flex;
  }
}
