.termsOfUse ul {
  margin: 0;
  padding-left: 20px;
}

.termsOfUse ul li {
  color: var(--text-color-3);
}

.container .navigateContact {
  color: var(--text-color-2);
}

.container .navigateContact:hover {
  cursor: pointer;
}
