.searchBarWrapper {
  margin-top: 1rem;
  display: flex;
  height: 100%;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.searchBarWrapper input {
  flex: 1 1 min(200px, 100%);
}

.ProjectsGrid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ProjectsGrid .StarContainer {
  position: absolute;
}

.ProjectsGrid .Star {
  display: block;
  line-height: 1;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  right: 1.81rem;
  bottom: 1.94rem;
  transition: transform 0.5s ease;
}

.ProjectsGridItem:hover .Star {
  transform: rotate(145deg);
}

.ProjectsGridItem {
  box-shadow: var(--box-shadow);
  overflow: hidden;
  background-color: var(--web-bg-color-2);
  display: flex;
  padding: 1rem;
  border-radius: var(--border-radius);
  min-height: 100px;
}

.TitleUrl:hover {
  text-decoration: underline;
}

.TitleAndLogoContainer {
  display: flex;
  align-items: center;
}

.TitleAndLogoContainer img {
  position: relative;
  top: 0.2rem;
  margin-right: 0.5rem;
  height: 2rem;
  width: 2rem;
}

.ImageWrapperUrl {
  height: max-content;
  overflow: hidden;
  width: 50%;
  flex-basis: 340px;
  flex-shrink: 0;
  aspect-ratio: 16 / 9;
  background-color: var(--line-break-color);
}

.ImageWrapperUrl:hover {
  cursor: pointer;
}

.ProjectsGridItem .Image {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: var(--line-break-color);
  transition: scale 0.25s ease;
}

.ProjectsGridItem .Image:hover {
  scale: 1.1;
}

.ProjectsGridItem .Container {
  padding-left: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.ProjectsGridItem .DownloadContainer {
  align-self: flex-start;
}

.ProjectsGridItem .DownloadButton {
  display: flex;
  flex-direction: row;
}

.ProjectsGridItem .DownloadButton {
  text-decoration: none;
}

.TagsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.TagsContainer .Tag {
  color: var(--web-bg-color-1);
  padding: 0 0.5rem;
  background-color: var(--text-color-4);
  display: inline;
  border-radius: 0.5rem;
}

.navButtonsContainer {
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .ProjectsGridItem {
    flex-direction: column;
  }

  .ImageWrapper {
    width: 100%;
    flex-basis: unset;
    flex-shrink: 1;
    margin-bottom: 1rem;
  }

  .ImageWrapperUrl {
    width: 100%;
    flex-basis: unset;
    flex-shrink: 1;
    margin-bottom: 1rem;
  }

  .ProjectsGridItem .Container {
    padding-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .ProjectsGridItem .DownloadContainer {
    display: none;
  }
}

@media (hover: hover) {
  .navButtonsContainer {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.25s ease, transform 0.25s ease;
  }

  .ProjectsGridItem:hover .navButtonsContainer {
    opacity: 1;
    transform: translateY(0);
  }
}