@use '../shared/styles/variables' as *;

.buttonsGroup {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    width: 100%;

    > * {
      width: 100%;
    }
  }
}
