@use '../shared/styles/variables' as *;

.buttonsGroupContact {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    
    > * {
      width: 100%;
    }
  }
}

.buttonsGroup {
  @extend .buttonsGroupContact;
  padding-inline: 2rem;
  margin-bottom: 2rem;
}