@use '../../shared/styles/variables' as *;

.moreProfiles {
  width: calc(100% + var(--spacing-block) + var(--spacing-block));
  margin-top: var(--spacing-block);
  margin-inline: calc(0px - var(--spacing-block));
  padding: var(--spacing-block) var(--spacing-block) 0;
  border-top: 1px solid var(--color-border);
}

.socialList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 100%;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;

    > * {
      width: 100%;
      justify-content: center;
    }
  }
}
