@use '../../../shared/styles/variables' as *;

.stackList,
.gridList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stackList {
  display: flex;
  flex-direction: column;

  .item {
    border-top: 1px solid var(--line-break-color);
    padding: 2.5rem 2rem;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }
}

.gridList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }

  .item {
    padding: 1.5rem 0;
    border-top: 1px solid var(--line-break-color);

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }
}

.imgWrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border: 1px solid var(--line-break-color);
  margin-bottom: 1rem;
  background: #0e0e0e;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.itemTitle {
  color: var(--color-neutral-100);
  font-size: var(--font-h2);
  font-weight: var(--weight-h2);
  margin: 0 0 0.5rem 0;
}

.itemDesc {
  margin-top: 0.5rem;
  color: var(--color-neutral-400);
  font-size: var(--font-p);
  font-weight: var(--weight-p);
  line-height: var(--lh-p);
}