.button {
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

.button:hover {
  cursor: pointer;
  /* background-color: var(--line-break-color); */
  /* border: 1px solid transparent; */
}

.ButtonNoBorder {
  border: 0 !important;
  border-radius: 8px;
}

.ButtonNoBorder:hover {
  cursor: pointer;
  border: 0 !important;
}


.button[data-color="defaultEmpty"] {
  color: var(--primary-text-color);
  border: 1px solid var(--line-break-color);
}

.button[data-color="defaultEmpty"]:hover {
  background-color: var(--line-break-color);
  border: 1px solid var(--line-break-color);
}

.button[data-color="default"] {
  color: var(--website-background-color);
  background-color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
}

.button[data-color="default"]:hover {
  background-color: var(--button-white-background-color);
  border: 1px solid var(--button-white-background-color);
}

.button[data-color="blue"] {
  color: var(--website-background-color);
  border: 1px solid var(--secondary-text-color);
  background-color: var(--secondary-text-color);
}

.button[data-color="blue"]:hover {
  color: var(--website-background-color);
  border: 1px solid var(--button-blue-background-color);
  background-color: var(--button-blue-background-color);
}