.Card {
  padding: 1rem;
  border: 1px solid var(--line-break-color);
  border-radius: var(--border-radius);
}

.Card .Title {
  line-height: 2.5rem;
}

.Card > * {
  word-wrap: break-word;
}

.Card {
  min-width: 0;
  min-height: 0;
}

.Card .ProjectsGridItem:hover .Title {
  color: var(--secondary-text-color);
}