.SkillsSection {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

#contact .ScreenSection .ScreenSectionList ul > li * {
  word-wrap: break-word;
}

.screen h1 {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 700px) {
  .SkillsSection {
    grid-template-columns: 1fr;
  }
}

.heroTextBBRouter {
  text-decoration: none;
}

.heroTextBB:hover {
  cursor: pointer;
}
