.canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: screen;
}

.canvasBehind {
  mix-blend-mode: plus-lighter;
}

.canvasAbove {
  z-index: 9999;
}

@media (prefers-reduced-motion: reduce) {
  .canvas {
    display: none;
  }
}
