.projects_pages .iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.projects_pages .iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects_pages .ScreenSectionButtons {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.image-section {
  padding: 1rem 0;
  flex: 1 0 80px;
}

.image-section .image-section-title {
  font-size: var(--font-h2);
}

.image-section-row {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
}

.image-section .image-section-img-container {
  padding-top: 1rem;
  width: 100%;
  display: flex;
}

.image-section .image-section-img {
  width: 100%;
}
